.container{
  display:flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  align-items: center;
}
.form{
  width: 50%;
  box-shadow: 0 0 10px rgba(76, 152, 252, 0.829);
  margin: 1%;
  padding: 2%;
}